body { 
    color: white;
    background: black;
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(235, 13, 220); 
    padding: 20px;
    font-size:32px;
    color: rgb(13, 235, 180)
}         
